@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax-Regular.otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax-Medium.otf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax";
  src: url("../fonts/Chillax-Semibold.otf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Axiforma";
  src: url("../fonts/Axiforma-Regular.woff2") format("woff2"), url("../fonts/Axiforma-Regular.woff") format("woff"),
    url("../fonts/Axiforma-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
