$media_xxl: 1680px;
$media_xl: 1366px;
$media_lg: 1199px;
$media_md: 1024px;
$media_sm: 767px;
$media_xs: 413px;

$font_family: "Chillax", sans-serif;
$font_family_text: "Axiforma", sans-serif;

$border_radius: 26px;
$transition: 0.3s ease;

$font_size_md: 21px;
$font_size: 24px;
$font_size_lg: 27px;

$colors: (
  "white": #fff,
  "white-300": #f3f2f9,
  "white-400": #f8f8fe,
  "black": #363654,
  "black-100": #221e40,
  "black-300": #010013,
  "violet": #6639bf,
  "violet-100": #5900b3,
  "violet-400": #3d2273,
  "turquoise": #49d4f2,
  "turquoise-100": #3db3cc,
  "red": #f24990,
  "bnb": #f3ba2f,
);
