@import "~/assets/styles/variables.scss";

.calc-invest {
  .invest-action {
    display: flex;
    gap: 20px;
    @media (max-width: $media_sm) {
      flex-direction: column;
      gap: 40px;
    }
    &__desc {
      position: absolute;
      left: 32px;
      font-size: 16px;
      line-height: 24px;
      width: 100%;
      color: map-get($colors, "white-300");
      @media (max-width: $media_xxl) {
        font-size: 12px;
        left: 24px;
      }
      @media (max-width: $media_xs) {
        left: 20px;
      }
      &--top {
        top: -34px;
        @media (max-width: $media_sm) {
          top: -26px;
        }
      }
      &--bottom {
        bottom: -34px;
        @media (max-width: $media_sm) {
          bottom: -26px;
        }
        @media (max-width: $media_xs) {
          position: relative;
          left: auto;
          bottom: auto;
          padding-left: 20px;
          margin-top: 2px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
        }
        > *:first-child {
          color: map-get($colors, "red");
        }
        > *:nth-child(2) {
          color: map-get($colors, "turquoise");
        }
        > * {
          @media (max-width: $media_xs) {
            margin-right: 10px;
          }
          + * {
            margin-left: 18px;
            @media (max-width: $media_xs) {
              margin-left: 0;
            }
          }
        }
      }
    }
    &__element {
      position: relative;
      flex-grow: 1;
    }
    &__input {
      display: flex;
      align-items: center;
      height: 90px;
      width: 100%;
      background: map-get($colors, "violet");
      border: 1px solid map-get($colors, "white");
      border-radius: 26px;
      padding-left: 32px;
      font-size: 21px;
      line-height: 32px;
      color: map-get($colors, "white");
      @media (max-width: $media_xxl) {
        height: 68px;
        border-radius: 20px;
        padding-left: 24px;
        font-size: 16px;
      }
      @media (max-width: $media_xl) {
        height: 56px;
        border-radius: 16px;
      }
      @media (max-width: $media_xs) {
        padding-left: 20px;
      }
      &-Ñoin {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        right: 5px;
        height: 79px;
        width: 164px;
        border: 1px solid map-get($colors, "white");
        background-color: map-get($colors, "violet-400");
        border-radius: 23px;
        font-size: 18px;
        line-height: 1;
        transform: translateY(-50%);
        @media (max-width: $media_xxl) {
          width: 122px;
          height: 60px;
          border-radius: 17px;
          font-size: 14px;
        }
        @media (max-width: $media_xl) {
          width: 104px;
          height: 50px;
          border-radius: 14px;
          right: 3px;
        }
        @media (max-width: $media_xs) {
          top: 3px;
          transform: none;
        }
      }
      &-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        background-color: map-get($colors, "violet");
        border-radius: 50%;
        @media (max-width: $media_xxl) {
          width: 20px;
          height: 20px;
        }
        svg {
          width: 16px;
          height: 16px;
          fill: map-get($colors, "bnb");
          @media (max-width: $media_xxl) {
            width: 12px;
            height: 12px;
          }
        }
      }
      &-logo + * {
        margin-left: 8px;
      }
    }
    &__btn {
      width: 180px;
    }
  }

  .calculation-list {
    max-width: 380px;
    @media (max-width: $media_xl) {
      max-width: 330px;
    }
    @media (max-width: $media_sm) {
      max-width: 100%;
    }
    &__item {
      padding-left: 32px;
      @media (max-width: $media_xxl) {
        padding-left: 24px;
      }
      @media (max-width: $media_sm) {
        padding-left: 0;
      }
    }
    &__key {
      color: #f3f2f9;
    }
  }

  > * + * {
    margin-top: 70px;
    @media (max-width: $media_xxl) {
      margin-top: 65px;
    }
    @media (max-width: $media_sm) {
      margin-top: 32px;
    }
  }
}

* + .calc-invest {
  margin-top: 80px;
  @media (max-width: $media_xxl) {
    margin-top: 75px;
  }
  @media (max-width: $media_xl) {
    margin-top: 60px;
  }
  @media (max-width: $media_sm) {
    margin-top: 50px;
  }
}
